:root{
    --bodyColor: #FFFFFF;
    --mainColor: #F5F5F5;
    --contactColor: #EAF2FD;
    --btnColor: #2A7AE4;
}
@media (min-width: 0) {
    body{
        background-color: var(--bodyColor);
        font-family: 'Raleway', sans-serif;

    }
    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1100px;
        margin: 4%;
    }
    .btn{
        background-color: var(--btnColor);
        font-weight: 600;
        padding: .3em;
        width: 6em;
        border: 1px solid var(--btnColor);
        color: var(--bodyColor);
    }
}
