:root{
    --bodyColor: #FFFFFF;
    --mainColor: #F5F5F5;
    --contactColor: #EAF2FD;
    --btnColor: #2A7AE4;
}
@media (min-width: 0) {
    body{
        background-color: var(--bodyColor);
        font-family: 'Raleway', sans-serif;
    }
    main{
        background-color: var(--mainColor);
    }
    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 4%;
    }
    .logo{
        width: 100px;
    }
    .btn{
        background-color: var(--btnColor);
        font-weight: 600;
        font-size: .8em;
        padding: .5em;
        width: 8rem;
        border: 1px solid var(--btnColor);
        color: var(--bodyColor);
        opacity: 88%;
        transition: .3s;
    }
    .btn:hover,
    .btn:focus{
        font-size: .9em;
        cursor: pointer;
    }
}
@media(min-width: 765px){
    .logo{
        width: 150px;
    }
    .btn{
        font-size: 1.1em;
        padding: .5em;
        width: 10rem;
    }
    .btn:hover,
    .btn:focus{
        font-size: 1.3em;
        cursor: pointer;
    }
}
@media(min-width: 1065px){
    .container{
        margin: 0 10%;
    }
    .logo{
        width: 200px;
    }
    .btn{
        font-size: 1.6em;
        padding: .6em;
        width: 15rem;
    }
    .btn:hover,
    .btn:focus{
        font-size: 1.9em;
        cursor: pointer;
    }
}
