@media(min-width:0){
    footer{
        background-color: var(--bodyColor);
        text-align: center;
        padding-bottom: 3em;
        padding-top: 3em;
        font-weight: 600;
    }
}
@media(min-width:1065px){
    footer{
        font-size: 1.5em;
    }
}